.header {
  padding: 20px;
  background-color: darkblue;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.input {
  padding: 10px;
  width: 400px;
  outline: none;
}

.button {
  padding: 10px;
  cursor: pointer;
}
